{%include 'navbar.html'%}
{% block content %}
<title>Home Page</title>
<style>
    nav {
        z-index: 2;
    }

    body {
        background-image: url("static/images/signup_bg.jpg");
    }

    .main {
        width: 80%;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(58px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        margin: 2% auto;
        padding-bottom: 4rem;
    }

    .maincontainer {
        color: aliceblue;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 2rem;
    }

    h1 {
        font-size: 3rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #2193fe;
    }

    .quote {
        color: aliceblue;
        text-align: center;
        width: 50%;
        margin: 1rem auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 3rem;
    }

    .text {
        color: aliceblue;
        margin-top: 8rem;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    footer {
        width: 90%;
        height: 15rem;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(58px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        margin-top: 5rem;
        display: flex;
        padding: 4rem 2rem;
        padding-bottom: 6rem;
        margin: 5% auto;
    }

    .foot-left,
    .foot-center,
    .foot-right {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    h1 {
        color: aliceblue;
        font-size: 2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    p,
    h2 {
        color: aliceblue;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    p:hover {
        cursor: pointer;
        color: rgb(180, 226, 232);
    }

    .foot-left {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    footer img {
        width: 50%;
    }

    .small {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 1rem;
    }
</style>

<body>
    <div class="main">
        <div class="maincontainer">
            <img src="static/images/corestack_logo.webp" alt="">
            <h1>Budget Tracker</h1>
        </div>
        <div class="quote">
            <p>
                “A budget tells us what we can't afford, but it doesn't keep us from buying it.”
            </p>
            <p>“A budget is more than just a series of numbers on a page; it is an embodiment of our values.” 

            </p>
            <p>
                “A budget doesn't limit your freedom; it gives you freedom.”</p>
            </p>
            <p>
                “Budgeting only has one rule; Do not go over budget.”
            </p>
        </div>
        <div class="text">
            <p>Wanna Tack Your Budget?</p>
            <p>Click Here to <a href="/signup">Signup</a> </p>
            <p>Already Registered? <a href="/login">Login</a> </p>
        </div>
    </div>

    <footer>
        <div class="foot-left">
            <img src="static/images/corestack_logo.webp" alt="">
            <h1>Budget Tracker</h1>
        </div>
        <div class="foot-center">
            <h2>Quick Links</h2>
            <p>About</p>
            <p>Customers</p>
            <p>Our Services</p>
        </div>
        <div class="foot-right">
            <h2>Contact Us</h2>
            <p>9192939495</p>
            <p>RMZ One Paramount,Chennai</p>
        </div>
    </footer>
    <div class="small">
        <small style="color:white ;">Made with <span style="color: red;">&#10084;</span> in Corestack</small>
        <br>
        <small style="color:white ;">Contributed by Arsh Jain</small>
        <br>
        <small style="color:white ;margin-bottom: 2rem;">UI by Aakash Pawan</small>
    </div>

</body>
{% endblock %}