{%include 'navbar.html'%}

  <title> Sign Up Page </title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/signup_style.css')}}">
<style>
  body {
    font-family: sans-serif;
    background-image: url("static/images/signup_bg.jpg");
    background-size: cover;
    background-position: center;
    /* background-image: linear-gradient(rgb(46, 46, 118), rgb(79, 79, 177), rgb(147, 147, 234)); */
  }

  .logo {
    width: 25%;
    border-radius: 50%;
  }
  nav{
    z-index: 2;
  }
</style>

<body>
  <h4>
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

    {% for category, message in messages %}

    <div class="alert alert-{{ category }}">

      {{ message }}

    </div>

    {% endfor %}

    {% endif %}

    {% endwith %}
  </h4> -->
  <div class="Sign-up-form">
    <img class="logo" src="{{url_for('static',filename='images/expense.jpg')}}" alt="MSM_logo" width="70" height="70">
    <h1 style="font-size: 1.5rem; color: whitesmoke;"> Sign Up Now </h1>
    <form name="signup form" action="/login" method="post">
      <input type="Full_name" id="fullname" name="Full_name" class="input-box" placeholder="Your Full name">
      <div id ="name_error" class="nameerror"></div>
      <input type="Email" id="email" name="Email" class="input-box" placeholder="Your Email" required>
      <div id ="email_error" class="emailerror"></div>
      <input type="User_name" id="username" name="User_name" class="input-box" placeholder="Username" required>
      <input type="Password" id="password" name="Password" class="input-box" placeholder="Password" required>
      <div id ="name_error" class="nameerror"></div>
      <button type="submit" class="signup-btn">Sign up</button>
      <p style="color:white;">OR</p>
      <p style="color:white;">Do you have an account ? <a class="link" href="/login">Sign in</a></p>
    </form>
  </div>
  <script src="{{url_for('static',filename='js/signup_script.js')}}"></script>
</body>

</html>